body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:552px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:57px;
  height:41px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:56px;
  top:-1px;
  width:75px;
  height:41px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:93px;
  top:9px;
  width:30px;
  height:20px;
  font-family:'Arial Gras', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:131px;
  top:-1px;
  width:54px;
  height:41px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:186px;
  top:-1px;
  width:58px;
  height:41px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:244px;
  top:-1px;
  width:53px;
  height:41px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:297px;
  top:-1px;
  width:53px;
  height:41px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:41px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:350px;
  top:-1px;
  width:37px;
  height:41px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:387px;
  top:-1px;
  width:88px;
  height:41px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:476px;
  top:-1px;
  width:75px;
  height:41px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:330px;
  top:40px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:410px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:410px;
}
#u26 {
  position:absolute;
  left:2px;
  top:197px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:40px;
  width:220px;
  height:360px;
}
.u28 {
  position:absolute;
  left:0px;
  top:6px;
  width:220px;
  height:30px;
  text-align:left;
}
.u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
.u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:8px;
  top:9px;
  width:182px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31 {
  position:absolute;
  left:188px;
  top:5px;
  width:30px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
